In [12]:
import pandas as pd

In [13]:
pd.__version__

'1.4.4'

In [14]:
data = pd.read_csv('C:/Users/it/dataset/big_mart_sales.csv')

In [15]:
type(data)

pandas.core.frame.DataFrame

In [16]:
data.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

In [17]:
data.shape

(8523, 12)

-----
#### `(1) Read the data except the first few rows in the file.`
   
-----

In [21]:
data_with_comment = pd.read_csv('C:/Users/it/dataset/big_mart_sales_top_row_error.csv')  # Error because top four rows are comment.

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [20]:
data_with_comment = pd.read_csv('C:/Users/it/dataset/big_mart_sales_top_row_error.csv',skiprows = 5)

In [8]:
data_with_comment.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

-----
#### `(2) Read a CSV of a specific Delimeter.`
   
-----

In [9]:
data_delimiter_Tab = pd.read_csv('C:/Users/it/dataset/big_mart_sales_delimiter.csv') # Here delimiter is Tab.

In [10]:
data_delimiter_Tab.head(2)

  Item_Identifier\tItem_Weight\tItem_Fat_Content\tItem_Visibility\tItem_Type\tItem_MRP\tOutlet_Identifier\tOutlet_Establishment_Year\tOutlet_Size\tOutlet_Location_Type\tOutlet_Type\tItem_Outlet_Sales
0  FDA15\t9.3\tLow Fat\t0.016047301\tDairy\t249.8...
1  DRC01\t5.92\tRegular\t0.019278216\tSoft Drinks...

In [11]:
data_delimiter_Tab_2 = pd.read_csv('C:/Users/it/dataset/big_mart_sales_delimiter.csv',delimiter='\t')

In [12]:
data_delimiter_Tab_2.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

---
#### `(3) READ FIRST 'N' ROWS (WHEN DATA IS LARGE)`
---

In [13]:
read_sample_from_data = pd.read_csv('C:/Users/it/dataset/big_mart_sales.csv',nrows=100)

In [14]:
read_sample_from_data.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

In [15]:
read_sample_from_data.shape

(100, 12)

---
#### `(4) READ SPECIFIC COLUMNS`
---

In [16]:
read_specific_columns = pd.read_csv('C:/Users/it/dataset/big_mart_sales.csv', usecols= ['Item_Identifier', 
                                                                             'Item_Type',
                                                                             'Item_MRP',
                                                                             'Item_Outlet_Sales'])

In [17]:
read_specific_columns.head(2)

  Item_Identifier    Item_Type  Item_MRP  Item_Outlet_Sales
0           FDA15        Dairy  249.8092          3735.1380
1           DRC01  Soft Drinks   48.2692           443.4228

---
#### `(5) READING FILES FROM MULTIPLE DIRECTORIES`
---

In [18]:
### Use the `glob` library to list the files in a directory.
import glob

In [19]:
for directory in glob.glob('C:/Users/it/dataset/multi-directory/*'):
    print(directory)

C:/Users/it/dataset/multi-directory\1985
C:/Users/it/dataset/multi-directory\1987
C:/Users/it/dataset/multi-directory\1997
C:/Users/it/dataset/multi-directory\1998
C:/Users/it/dataset/multi-directory\1999
C:/Users/it/dataset/multi-directory\2002
C:/Users/it/dataset/multi-directory\2004
C:/Users/it/dataset/multi-directory\2007
C:/Users/it/dataset/multi-directory\2009

In [20]:
for file in glob.glob('C:/Users/it/dataset/multi-directory/*/*'):
    print(file)

C:/Users/it/dataset/multi-directory\1985\1985.csv
C:/Users/it/dataset/multi-directory\1987\1987.csv
C:/Users/it/dataset/multi-directory\1997\1997.csv
C:/Users/it/dataset/multi-directory\1998\1998.csv
C:/Users/it/dataset/multi-directory\1999\1999.csv
C:/Users/it/dataset/multi-directory\2002\2002.csv
C:/Users/it/dataset/multi-directory\2004\2004.csv
C:/Users/it/dataset/multi-directory\2007\2007.csv
C:/Users/it/dataset/multi-directory\2009\2009.csv

In [21]:
data_frame_list = []
for file in glob.glob('C:/Users/it/dataset/multi-directory/*/*'):
    
    data_frame_list.append(pd.read_csv(file))

In [22]:
data_frame_list

[      Unnamed: 0 Item_Identifier  Item_Weight Item_Fat_Content  \
 0              7           FDP10          NaN          Low Fat
 1             18           DRI11          NaN          Low Fat
 2             21           FDW12          NaN          Regular
 3             23           FDC37          NaN          Low Fat
 4             29           FDC14          NaN          Regular
 ...          ...             ...          ...              ...
 1458        8485           DRK37          NaN          Low Fat
 1459        8487           DRG13          NaN          Low Fat
 1460        8488           NCN14          NaN          Low Fat
 1461        8490           FDU44          NaN          Regular
 1462        8504           NCN18          NaN          Low Fat

       Item_Visibility              Item_Type  Item_MRP Outlet_Identifier  \
 0            0.127470            Snack Foods  107.7622            OUT027
 1            0.034238            Hard Drinks  113.2834            OUT027
 2            0.035400           Baking Goods  144.5444            OUT027
 3            0.057557           Baking Goods  107.6938            OUT019
 4            0.072222                 Canned   43.6454            OUT019
 ...               ...                    ...       ...               ...
 1458         0.043792            Soft Drinks  189.0530            OUT027
 1459         0.037006            Soft Drinks  164.7526            OUT027
 1460         0.091473                 Others  184.6608            OUT027
 1461         0.102296  Fruits and Vegetables  162.3552            OUT019
 1462         0.124111              Household  111.7544            OUT027

       Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
 0                          1985      Medium               Tier 3
 1                          1985      Medium               Tier 3
 2                          1985      Medium               Tier 3
 3                          1985       Small               Tier 1
 4                          1985       Small               Tier 1
 ...                         ...         ...                  ...
 1458                       1985      Medium               Tier 3
 1459                       1985      Medium               Tier 3
 1460                       1985      Medium               Tier 3
 1461                       1985       Small               Tier 1
 1462                       1985      Medium               Tier 3

             Outlet_Type  Item_Outlet_Sales
 0     Supermarket Type3          4022.7636
 1     Supermarket Type3          2303.6680
 2     Supermarket Type3          4064.0432
 3         Grocery Store           214.3876
 4         Grocery Store           125.8362
 ...                 ...                ...
 1458  Supermarket Type3          6261.8490
 1459  Supermarket Type3          4111.3150
 1460  Supermarket Type3          2756.4120
 1461      Grocery Store           487.3656
 1462  Supermarket Type3          4138.6128

 [1463 rows x 13 columns],
      Unnamed: 0 Item_Identifier  Item_Weight Item_Fat_Content  \
 0             4           NCD19        8.930          Low Fat
 1             6           FDO10       13.650          Regular
 2            14           FDF32       16.350          Low Fat
 3            20           FDN22       18.850          Regular
 4            27           DRJ59       11.650          low fat
 ..          ...             ...          ...              ...
 927        8462           FDQ31        5.785          Regular
 928        8466           FDJ32       10.695          Low Fat
 929        8484           DRJ49        6.865          Low Fat
 930        8512           FDR26       20.700          Low Fat
 931        8518           FDF22        6.865          Low Fat

      Item_Visibility              Item_Type  Item_MRP Outlet_Identifier  \
 0           0.000000              Household   53.8614            OUT013
 1           0.012741            Snack Foods   57.6588            OUT013
 2           0.068024  Fruits and Vegetables  196.4426            OUT013
 3           0.138190            Snack Foods  250.8724            OUT013
 4           0.019356            Hard Drinks   39.1164            OUT013
 ..               ...                    ...       ...               ...
 927         0.053802  Fruits and Vegetables   85.9856            OUT013
 928         0.057744  Fruits and Vegetables   61.2536            OUT013
 929         0.000000            Soft Drinks  129.9652            OUT013
 930         0.042801                  Dairy  178.3028            OUT013
 931         0.056783            Snack Foods  214.5218            OUT013

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
 0                         1987        High               Tier 3
 1                         1987        High               Tier 3
 2                         1987        High               Tier 3
 3                         1987        High               Tier 3
 4                         1987        High               Tier 3
 ..                         ...         ...                  ...
 927                       1987        High               Tier 3
 928                       1987        High               Tier 3
 929                       1987        High               Tier 3
 930                       1987        High               Tier 3
 931                       1987        High               Tier 3

            Outlet_Type  Item_Outlet_Sales
 0    Supermarket Type1           994.7052
 1    Supermarket Type1           343.5528
 2    Supermarket Type1          1977.4260
 3    Supermarket Type1          3775.0860
 4    Supermarket Type1           308.9312
 ..                 ...                ...
 927  Supermarket Type1          1494.0552
 928  Supermarket Type1           673.7896
 929  Supermarket Type1          2324.9736
 930  Supermarket Type1          2479.4392
 931  Supermarket Type1          2778.3834

 [932 rows x 13 columns],
      Unnamed: 0 Item_Identifier  Item_Weight Item_Fat_Content  \
 0            11           FDA03       18.500          Regular
 1            13           FDS46       17.600          Regular
 2            15           FDP49        9.000          Regular
 3            24           FDR28       13.850          Regular
 4            34           DRH01       17.500          Low Fat
 ..          ...             ...          ...              ...
 925        8450           FDC28        7.905          Low Fat
 926        8461           FDB17       13.150          Low Fat
 927        8492           FDT34        9.300          Low Fat
 928        8517           FDF53       20.750              reg
 929        8522           DRG01       14.800          Low Fat

      Item_Visibility     Item_Type  Item_MRP Outlet_Identifier  \
 0           0.045464         Dairy  144.1102            OUT046
 1           0.047257   Snack Foods  119.6782            OUT046
 2           0.069089     Breakfast   56.3614            OUT046
 3           0.025896  Frozen Foods  165.0210            OUT046
 4           0.097904   Soft Drinks  174.8738            OUT046
 ..               ...           ...       ...               ...
 925         0.054987  Frozen Foods  108.6254            OUT046
 926         0.036672  Frozen Foods  182.5976            OUT046
 927         0.174350   Snack Foods  104.4964            OUT046
 928         0.083607  Frozen Foods  178.8318            OUT046
 929         0.044878   Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
 0                         1997       Small               Tier 1
 1                         1997       Small               Tier 1
 2                         1997       Small               Tier 1
 3                         1997       Small               Tier 1
 4                         1997       Small               Tier 1
 ..                         ...         ...                  ...
 925                       1997       Small               Tier 1
 926                       1997       Small               Tier 1
 927                       1997       Small               Tier 1
 928                       1997       Small               Tier 1
 929                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
 0    Supermarket Type1          2187.1530
 1    Supermarket Type1          2145.2076
 2    Supermarket Type1          1547.3192
 3    Supermarket Type1          4078.0250
 4    Supermarket Type1          2085.2856
 ..                 ...                ...
 925  Supermarket Type1          1844.9318
 926  Supermarket Type1          4165.2448
 927  Supermarket Type1          2419.5172
 928  Supermarket Type1          3608.6360
 929  Supermarket Type1           765.6700

 [930 rows x 13 columns],
      Unnamed: 0 Item_Identifier  Item_Weight Item_Fat_Content  \
 0             3           FDX07       19.200          Regular
 1            28           FDE51        5.925          Regular
 2            30           FDV38       19.250          Low Fat
 3            45           FDM39        6.420               LF
 4            65           FDC46       17.700               LF
 ..          ...             ...          ...              ...
 550        8400           NCE07        8.180          Low Fat
 551        8432           FDI16       14.000          Regular
 552        8473           DRI47       14.700          Low Fat
 553        8486           FDR20       20.000          Regular
 554        8509           FDG45        8.100          Low Fat

      Item_Visibility              Item_Type  Item_MRP Outlet_Identifier  \
 0           0.000000  Fruits and Vegetables  182.0950            OUT010
 1           0.161467                  Dairy   45.5086            OUT010
 2           0.170349                  Dairy   55.7956            OUT010
 3           0.089499                  Dairy  178.1002            OUT010
 4           0.195068            Snack Foods  185.4266            OUT010
 ..               ...                    ...       ...               ...
 550         0.021977              Household  140.6154            OUT010
 551         0.227261           Frozen Foods   54.3640            OUT010
 552         0.035016            Hard Drinks  144.3128            OUT010
 553         0.000000  Fruits and Vegetables   46.4744            OUT010
 554         0.214306  Fruits and Vegetables  213.9902            OUT010

      Outlet_Establishment_Year  Outlet_Size Outlet_Location_Type  \
 0                         1998          NaN               Tier 3
 1                         1998          NaN               Tier 3
 2                         1998          NaN               Tier 3
 3                         1998          NaN               Tier 3
 4                         1998          NaN               Tier 3
 ..                         ...          ...                  ...
 550                       1998          NaN               Tier 3
 551                       1998          NaN               Tier 3
 552                       1998          NaN               Tier 3
 553                       1998          NaN               Tier 3
 554                       1998          NaN               Tier 3

        Outlet_Type  Item_Outlet_Sales
 0    Grocery Store           732.3800
 1    Grocery Store           178.4344
 2    Grocery Store           163.7868
 3    Grocery Store           358.2004
 4    Grocery Store           184.4266
 ..             ...                ...
 550  Grocery Store           425.4462
 551  Grocery Store           159.7920
 552  Grocery Store           431.4384
 553  Grocery Store            45.2744
 554  Grocery Store           424.7804

 [555 rows x 13 columns],
      Unnamed: 0 Item_Identifier  Item_Weight Item_Fat_Content  \
 0             0           FDA15        9.300          Low Fat
 1             2           FDN15       17.500          Low Fat
 2            10           FDY07       11.800          Low Fat
 3            12           FDX32       15.100          Regular
 4            17           FDP49        9.000          Regular
 ..          ...             ...          ...              ...
 925        8451           FDK21        7.905          Low Fat
 926        8467           FDV31        9.800               LF
 927        8470           FDW27        5.860          Regular
 928        8475           NCS17       18.600          Low Fat
 929        8479           FDL10        8.395          Low Fat

      Item_Visibility              Item_Type  Item_MRP Outlet_Identifier  \
 0           0.016047                  Dairy  249.8092            OUT049
 1           0.016760                   Meat  141.6180            OUT049
 2           0.000000  Fruits and Vegetables   45.5402            OUT049
 3           0.100014  Fruits and Vegetables  145.4786            OUT049
 4           0.069196              Breakfast   54.3614            OUT049
 ..               ...                    ...       ...               ...
 925         0.010028            Snack Foods  249.6408            OUT049
 926         0.000000  Fruits and Vegetables  175.2370            OUT049
 927         0.151088                   Meat  155.1314            OUT049
 928         0.080627     Health and Hygiene   92.5436            OUT049
 929         0.039554            Snack Foods   99.1042            OUT049

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
 0                         1999      Medium               Tier 1
 1                         1999      Medium               Tier 1
 2                         1999      Medium               Tier 1
 3                         1999      Medium               Tier 1
 4                         1999      Medium               Tier 1
 ..                         ...         ...                  ...
 925                       1999      Medium               Tier 1
 926                       1999      Medium               Tier 1
 927                       1999      Medium               Tier 1
 928                       1999      Medium               Tier 1
 929                       1999      Medium               Tier 1

            Outlet_Type  Item_Outlet_Sales
 0    Supermarket Type1          3735.1380
 1    Supermarket Type1          2097.2700
 2    Supermarket Type1          1516.0266
 3    Supermarket Type1          1589.2646
 4    Supermarket Type1           718.3982
 ..                 ...                ...
 925  Supermarket Type1          3254.4304
 926  Supermarket Type1          3881.6140
 927  Supermarket Type1          1551.3140
 928  Supermarket Type1           378.1744
 929  Supermarket Type1          2579.3092

 [930 rows x 13 columns],
      Unnamed: 0 Item_Identifier  Item_Weight Item_Fat_Content  \
 0             8           FDH17       16.200          Regular
 1            33           FDO23       17.850          Low Fat
 2            46           NCP05       19.600          Low Fat
 3            47           FDV49       10.000          Low Fat
 4            56           NCX54        9.195          Low Fat
 ..          ...             ...          ...              ...
 924        8483           DRI11        8.260          Low Fat
 925        8502           NCH43        8.420          Low Fat
 926        8508           FDW31       11.350          Regular
 927        8514           FDA01       15.000          Regular
 928        8519           FDS36        8.380          Regular

      Item_Visibility              Item_Type  Item_MRP Outlet_Identifier  \
 0           0.016687           Frozen Foods   96.9726            OUT045
 1           0.000000                 Breads   93.1436            OUT045
 2           0.000000     Health and Hygiene  153.3024            OUT045
 3           0.025880                 Canned  265.2226            OUT045
 4           0.048157              Household  106.1622            OUT045
 ..               ...                    ...       ...               ...
 924         0.034474            Hard Drinks  117.0834            OUT045
 925         0.070712              Household  216.4192            OUT045
 926         0.043246  Fruits and Vegetables  199.4742            OUT045
 927         0.054489                 Canned   57.5904            OUT045
 928         0.046982           Baking Goods  108.1570            OUT045

      Outlet_Establishment_Year  Outlet_Size Outlet_Location_Type  \
 0                         2002          NaN               Tier 2
 1                         2002          NaN               Tier 2
 2                         2002          NaN               Tier 2
 3                         2002          NaN               Tier 2
 4                         2002          NaN               Tier 2
 ..                         ...          ...                  ...
 924                       2002          NaN               Tier 2
 925                       2002          NaN               Tier 2
 926                       2002          NaN               Tier 2
 927                       2002          NaN               Tier 2
 928                       2002          NaN               Tier 2

            Outlet_Type  Item_Outlet_Sales
 0    Supermarket Type1          1076.5986
 1    Supermarket Type1          2174.5028
 2    Supermarket Type1          2428.8384
 3    Supermarket Type1          5815.0972
 4    Supermarket Type1          2117.2440
 ..                 ...                ...
 924  Supermarket Type1          1612.5676
 925  Supermarket Type1          3020.0688
 926  Supermarket Type1          2587.9646
 927  Supermarket Type1           468.7232
 928  Supermarket Type1           549.2850

 [929 rows x 13 columns],
      Unnamed: 0 Item_Identifier  Item_Weight Item_Fat_Content  \
 0            19           FDU02       13.350          Low Fat
 1            22           NCB30       14.600          Low Fat
 2            26           FDV10        7.645          Regular
 3            66           FDH19       19.350          Low Fat
 4            86           FDZ55        6.055          Low Fat
 ..          ...             ...          ...              ...
 925        8503           FDQ44       20.500          Low Fat
 926        8507           FDN28        5.880          Regular
 927        8510           FDN58       13.800          Regular
 928        8513           FDH31       12.000          Regular
 929        8520           NCJ29       10.600          Low Fat

      Item_Visibility              Item_Type  Item_MRP Outlet_Identifier  \
 0           0.102492                  Dairy  230.5352            OUT035
 1           0.025698              Household  196.5084            OUT035
 2           0.066693            Snack Foods   42.3112            OUT035
 3           0.033082                   Meat  172.5738            OUT035
 4           0.025404  Fruits and Vegetables  160.9920            OUT035
 ..               ...                    ...       ...               ...
 925         0.036133  Fruits and Vegetables  120.1756            OUT035
 926         0.030242           Frozen Foods  101.7990            OUT035
 927         0.056862            Snack Foods  231.5984            OUT035
 928         0.020407                   Meat   99.9042            OUT035
 929         0.035186     Health and Hygiene   85.1224            OUT035

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
 0                         2004       Small               Tier 2
 1                         2004       Small               Tier 2
 2                         2004       Small               Tier 2
 3                         2004       Small               Tier 2
 4                         2004       Small               Tier 2
 ..                         ...         ...                  ...
 925                       2004       Small               Tier 2
 926                       2004       Small               Tier 2

In [23]:
final_data = pd.concat(data_frame_list)

In [24]:
final_data.head(2)

,Unnamed: 0,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
1,18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680

---
#### `(6) Saving data into the new CSV_file`
---

In [25]:
final_data.to_csv('C:/Users/it/dataset/merged_big_mart_sales.csv',index = False) # index = False will remove the positional index.